<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-oda-head-heading">Create or edit a ODA Head</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!oDAHead.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="oDAHead.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nrFt">Nr Ft</label>
                    <input type="number" class="form-control" name="nrFt" id="field_nrFt"
                        [(ngModel)]="oDAHead.nrFt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataFattura">Data Fattura</label>
                    <div class="input-group">
                        <input id="field_dataFattura" type="text" class="form-control" name="dataFattura" ngbDatepicker  #dataFatturaDp="ngbDatepicker" [(ngModel)]="oDAHead.dataFattura"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataFatturaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totaleFt">Totale Ft</label>
                    <input type="number" class="form-control" name="totaleFt" id="field_totaleFt"
                        [(ngModel)]="oDAHead.totaleFt" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
