<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplier">
            <h2><span>Supplier</span> {{supplier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{supplier.nome}}</span>
                </dd>
                <dt><span>Cognome</span></dt>
                <dd>
                    <span>{{supplier.cognome}}</span>
                </dd>
                <dt><span>Piva</span></dt>
                <dd>
                    <span>{{supplier.piva}}</span>
                </dd>
                <dt><span>Rag Sociale</span></dt>
                <dd>
                    <span>{{supplier.ragSociale}}</span>
                </dd>
                <dt><span>Indirizzo</span></dt>
                <dd>
                    <span>{{supplier.indirizzo}}</span>
                </dd>
                <dt><span>O DV Head</span></dt>
                <dd>
                    <div *ngIf="supplier.oDVHeadId">
                        <a [routerLink]="['/odv-head', supplier.oDVHeadId, 'view']">{{supplier.oDVHeadId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/supplier', supplier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
