<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-supplier-heading">Create or edit a Supplier</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!supplier.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="supplier.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="supplier.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cognome">Cognome</label>
                    <input type="text" class="form-control" name="cognome" id="field_cognome"
                        [(ngModel)]="supplier.cognome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_piva">Piva</label>
                    <input type="text" class="form-control" name="piva" id="field_piva"
                        [(ngModel)]="supplier.piva" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ragSociale">Rag Sociale</label>
                    <input type="text" class="form-control" name="ragSociale" id="field_ragSociale"
                        [(ngModel)]="supplier.ragSociale" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_indirizzo">Indirizzo</label>
                    <input type="text" class="form-control" name="indirizzo" id="field_indirizzo"
                        [(ngModel)]="supplier.indirizzo" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_oDVHead">O DV Head</label>
                    <select class="form-control" id="field_oDVHead" name="oDVHead" [(ngModel)]="supplier.oDVHead" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="oDVHeadOption.id === supplier.oDVHead?.id ? supplier.oDVHead : oDVHeadOption" *ngFor="let oDVHeadOption of odvheads; trackBy: trackODVHeadById">{{oDVHeadOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
