<div>
    <h2 id="page-heading">
        <span>Suppliers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supplier" [routerLink]="['/supplier/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Supplier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="suppliers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>Cognome</span></th>
            <th><span>Piva</span></th>
            <th><span>Rag Sociale</span></th>
            <th><span>Indirizzo</span></th>
            <th><span>O DV Head</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplier of suppliers ;trackBy: trackId">
                <td><a [routerLink]="['/supplier', supplier.id, 'view' ]">{{supplier.id}}</a></td>
                <td>{{supplier.nome}}</td>
                <td>{{supplier.cognome}}</td>
                <td>{{supplier.piva}}</td>
                <td>{{supplier.ragSociale}}</td>
                <td>{{supplier.indirizzo}}</td>
                <td>
                    <div *ngIf="supplier.oDVHead">
                        <a [routerLink]="['../odv-head', supplier.oDVHead?.id, 'view' ]" >{{supplier.oDVHead?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supplier', supplier.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supplier', supplier.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'supplier', { outlets: { popup: supplier.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
