<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{customer.nome}}</span>
                </dd>
                <dt><span>Cognome</span></dt>
                <dd>
                    <span>{{customer.cognome}}</span>
                </dd>
                <dt><span>Telefono</span></dt>
                <dd>
                    <span>{{customer.telefono}}</span>
                </dd>
                <dt><span>Mail</span></dt>
                <dd>
                    <span>{{customer.mail}}</span>
                </dd>
                <dt><span>O DA Head</span></dt>
                <dd>
                    <div *ngIf="customer.oDAHead">
                        <a [routerLink]="['/oda-head', customer.oDAHead?.id, 'view']">{{customer.oDAHead?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
